/*appointment style*/
.apointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
  width: 90%;
  gap: 5rem;
  margin: auto;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
}
.body {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10rem;
}

/*body of each step*/
.stepContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  border-left: solid 1px rgb(155, 155, 155);
}

.display {
  display: block;
  transform: translateY(100%);
  transition: 200ms all ease-in-out;
}
.displayNone {
  opacity: 0%;
  display: none;
  transform: translateY(0);
}

.dropDownMenuDisplay {
  display: flex;
}
.dropDownMenuNone {
  display: none;
}

.confirmDisplay {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.confirmDisplay h2 {
  margin: auto;
  font-weight: 700;
  font-size: 3rem;
  width: 20rem;
  text-align: center;
  align-items: center;
}
.confirmDisplay hr {
  width: 30rem;
}
.appointmentDetails {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.appointmentDetails h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #474747;
}
.appointmentDetailsBody {
  width: 100%;
  height: 80%;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.096);
}
.appointmentDetailsBody h4 {
  white-space: nowrap;
  font-size: 1rem;
}
.appointmentDetailsBodyButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  height: 100%;
}
.appointmentDetailsBodyButtons button {
  color: #fff;
  border: none;
  width: 80%;
  height: 50%;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.appointmentDetailsBodyButtons button:hover {
  background-color: #4747473a;
  color: #49a96e;
  cursor: pointer;
}
.appointmentDetailsBodyButtons .confirm {
  background-color: #49a96e;
}
.appointmentDetailsBodyButtons .cancel:hover {
  color: #df5c5c;
}
.appointmentDetailsBodyButtons .cancel {
  background-color: #df5c5c;
}
/* .allAppointment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
  width: 90%;
  gap: 5rem;
  margin-top: auto;
}
.allAppointmentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.096);
  height: 70%;
  padding: 1rem;
}
.allAppointmentHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 98%;
  height: 2rem;
}

.allAppointmentHeader input {
  height: 1.5rem;
  background-color: #f3f3f3;
  border: none;
  font-weight: 700;
  color: #474747;
  text-align: center;
  border-radius: 1rem;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allAppointmentHeader input:focus::placeholder,
.allAppointmentHeader input:focus {
  color: #49a96e;
  outline: none;
}
.allAppointmentHeader span {
  display: inline-block;
  background-color: #49a96e;
  width: 2px;
  height: 0.5rem;
}
.allAppointmentHeader div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.toggleFilter h2 {
  color: #49a96e;
}
.allAppointmentBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  height: 80%;
  overflow-y: scroll;
}
.allAppointmentBodyContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.096);
  width: 95%;
  margin: 1rem auto;
  padding: 1rem;
} */
@media (max-width: 680px) {
  .body {
    gap: 2rem;
  }
}
@media (max-width: 530px) {
  .stepContent {
    border-left: none;
  }
  .steps {
    display: none;
  }
}
