.informationCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
}
.title {
  color: #979797;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: #c4c4c4 solid 2px;
  padding: 1rem 0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}
.content h2 {
  color: #474747;
  font-weight: 700;
  height: 40%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.input {
  background-color: #f3f3f3;
  border: none;
  font-weight: 700;
  color: #474747;
  text-align: center;
  border-radius: 1rem;
  width: 50%;
}
.input:focus::placeholder {
  color: transparent;
}
.input:focus {
  color: #49a96e;
  outline: none;
}
@media (max-width: 1250px) {
  .content {
    grid-template-columns: 1fr;
  }
}
