/* container styles */
.navbar {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  height: 4rem;
  margin: auto;
}
.navbarcontainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: space-between;
}
.flex_item {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
.flex_item:not(h2, div):first-of-type {
  flex: 2;
}
@media (max-width: 680px) {
  .navbar {
    width: 95%;
  }
}
