.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 90%;
}
.title {
  font-weight: 700;
  font-size: 1.1rem;
  width: 90%;
}
.Radiology-list {
  display: flex;
  width: 40%;
  height: 70%;
  height: 90%;
  width: 100%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.Radiology-list h1 {
  color: #4caf50;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Radiology-list ul {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 90%;
  margin: 0;
  padding-right: 1rem;
  overflow-y: scroll;
}
.header {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Radiology-list li {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Radiology-list .Radiology-info {
  display: flex;
  flex-direction: column;
}

.Radiology-list .Radiology-info span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Radiology-list .view-results-button {
  background-color: #4caf50;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 1rem;
  border: none;
  position: relative;
  overflow: hidden;
}

.Radiology-list .view-results-button:hover {
  background-color: #3e8e41;
}

.Radiology-list .Radiology-results {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.Radiology-list .Radiology-results h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Radiology-list .Radiology-results div {
  margin-bottom: 10px;
}

.Radiology-list .Radiology-results span {
  font-size: 18px;
  font-weight: bold;
}
