.page {
    background-color: white;
    height: 83vh;
    width: 95vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    font-family: 'Noto Sans', sans-serif;
    margin: 3%;
    border-radius: 10px;
    
}

.allUpBox{
    margin: 3%;
}

.upcomingTitle{
    color: #49a96e;
    font-weight: 700;
    font-size: 25px;
}

.upcomingBox{
    border: 1px solid gray;
    border-radius: 15px;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.split{
    width: 40%;
    display: flex;
    align-items: center;
}

.upcover {
    border: 1px solid rgb(197, 193, 193);
    border-radius: 10px;
    height: 20vh;
    margin: 30px;
    width: 95%;
}

.time{
    display: flex;
    text-align: center;

}

.rightside{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 1% 3%;
}

.response{
    width: 95%;
    display: flex;
}


.leftside{
    display: flex;
    align-items: center;
}

.clock{
    color: rgb(215, 215, 33);
    font-size: 30px;
}

.upBoxDetails{
    width: 50%;
    font-weight: 600;
    padding: 5% 9%;
    color: rgb(59, 57, 57);
}

.upDitails{
    display: flex;
    align-items: center;

}

.upData{
    color: #49a96e;
    margin-left: 5%;

}

.edit {
    color: #0075af;
    font-size: 25px;
    cursor: pointer;
    text-align: end;
}

.book{
    display: flex;
}

.allpervBox{
    margin: 3%;
    display: flex;
    align-items: center;
    gap: 8%;
}
.pervTitle{
    color: #979797;
    font-weight: 700;
    font-size: 25px;
}
.pervcover{
    border: 1px solid rgb(197, 193, 193);
    border-radius: 10px;
    height: 20vh;
    margin: 30px;
    width: 95%;
    display: flex;
    align-items: center;
}
.pervBox{
    border: 1px solid gray;
    border-radius: 15px;
    height: 30vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-flow: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.bookBtn{
    width: 50vw;
}

.bookBtn button{
    background-color: white;
    width: 95%;
    padding: 5%;
    border: 1px solid #979797;
    border-radius: 60px;
    font-size: 20px;
    color: #49a96e;
    font-weight: 600;
}

.bookBtn button:hover{
    background-color: whitesmoke;
}

.boxDetails{
    width: 33%;
    font-weight: 600;
    padding: 8%;
    color: rgb(59, 57, 57);
}

.data{
    color: #979797;
    margin-left: 5%;
}

.calendarIcon{
    font-size: 30px;
}

.date{
    display: flex;
    align-items: center;
    gap: 3%;
}
.health{
    color: #49a96e;
    font-size: 30px;
    font-weight: 600;
    margin: 25%;
}


@media (max-width: 835px) {
    .upDitails{
        display: flex;
    }
    .split{
        width: 100%;
        margin-left: 5%;
    }
    .upBoxDetails{
        padding: 1%;
    }

    .allpervBox{
        display: flex;
        flex-direction: column;
    }
    .pervBox{
        width: 100%;
    }
    .boooox{
        width: 100% ;
    }
    .bookBtn{
        margin-top: 1%;
        width: 65%;
    }
    .page{
        height: 85vh;
    }
    .response{
        width: 90%;
        flex-direction: column;
    }
}