.selectionTitle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 80%;
  height: 10%;
  gap: 1rem;
  border: 1px solid #aaaaaa;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.164);
}
.dropDownMenu {
  transform: translateY(4rem);
  position: absolute;
  width: 70%;
  height: 80%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.096);
}
.selectionBody {
  position: relative;
  display: none;
  width: 90%;
  height: 100%;
  border-radius: 16px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.display {
  display: flex;
}
.displaynone {
  display: none;
}
.Input {
  height: 15%;
  background-color: #f3f3f3;
  border: none;
  font-weight: 700;
  color: #474747;
  text-align: center;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Input:focus::placeholder {
  color: transparent;
}
.Input:focus {
  color: #49a96e;
  outline: none;
}
.appointmentType {
  height: 100%;
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.Button {
  margin: auto;
  color: #fff;
  background-color: #49a96e;
  border: none;
  width: 50%;
  height: 10%;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.appointmentType h2 {
  font-weight: 700;
  width: 20rem;
  text-align: start;
  color: #474747;
}
.appointmentTypeRadioButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10rem;
}
.appointmentTypeButton {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dayAndDuration {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
}
.eachDayAndDuration {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
}
.Day {
  display: flex;
  width: 40%;
  align-items: center;
  gap: 1rem;
}
.Duration {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
.DurationInput {
  height: 50%;
  width: 40%;
  margin: auto;
  background-color: #f3f3f3;
  border: none;
  font-weight: 700;
  color: #474747;
  text-align: center;
  border-radius: 1rem;
}
.DurationInput:focus::placeholder {
  color: transparent;
}
.DurationInput:focus {
  color: #49a96e;
  outline: none;
}
.DateAndTime {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}
.TimeSlots {
  align-items: center;
  padding: 1rem 0;
  width: 50%;
  height: 70%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
}
.Slot {
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  gap: 0.5rem;
  width: 80%;
  border-radius: 1rem;
  border: 1px solid #aaaaaa;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.164);
}
.selected {
  color: #49a96e;
  border: 2px solid #49a96e;
}
@media (max-width: 680px) {
  .appointmentTypeRadioButtons {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .appointmentTypeButton {
    justify-content: flex-start;
  }
  .Input {
    width: 80%;
    margin: auto;
  }
  .Button {
    width: 80%;
    margin: 0;
    margin-top: auto;
  }
  .eachDayAndDuration {
    flex-direction: column;
    gap: 0;
    margin-top: 0.5rem;
    border-bottom: #47474742 solid 1px;
  }
  .Day,
  .Duration {
    padding-bottom: 0.5rem;
  }
  .DurationInput {
    height: 80%;
  }
  .DurationInput::placeholder {
    color: transparent;
  }
}
