/* Header Titles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 90%;
  gap: 2rem;
  border-bottom: #c4c4c4 solid 2px;
}
.header h1 {
  color: #474747;
  font-weight: 700;
  font-size: 2rem;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* information cards */
.content {
  overflow-y: scroll;
  width: 90%;
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}
.buttonStyle {
  background-color: #49a96e;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}
.buttonStyle:hover {
  color: #49a96e;
  background-color: white;
}
