.informationCard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 50%;
  width: 80%;
  gap: 16px;
}
.title {
  color: #979797;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: #c4c4c4 solid 2px;
  padding-bottom: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  gap: 1rem;
}
.content h2 {
  color: #474747;
  font-weight: 700;
  height: 40%;
}
