.informationCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  gap: 2rem;
}
.title {
  color: #979797;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: #c4c4c4 solid 2px;
  padding: 1rem 0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}
.content h2 {
  color: #474747;
  font-weight: 700;
  height: 40%;
}

@media (max-width: 1250px) {
  .content {
    grid-template-columns: 1fr;
  }
}
