.container {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  gap: 2rem;
  margin: auto;
  height: 80vh;
  width: 90%;
  border-radius: 1rem;
  background-color: white;
  position: relative;
}
