.popUp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.popUpGreyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97979750;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
}
.popUpContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  height: 80%;
  padding: 1rem;
  background-color: #fff;
}

.Button {
  width: 100%;
  margin: auto;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 1rem;
}
.ButtonGreen {
  color: #fff;
  background-color: #49a96e;
}
.ButtonYellow {
  color: #fff;
  background-color: #c59e33;
}
.ButtonGreen:hover {
  background-color: #4747473a;
  color: #49a96e;
  cursor: pointer;
}
.ButtonYellow:hover {
  background-color: #4747473a;
  color: #c59e33;
  cursor: pointer;
}
.reportFile {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.reportFile h2 {
  font-weight: 700;
  font-size: 1.1rem;
}
