.page {
  width: 50%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.allBox {
  margin: 3px;
}

.title {
  color: #49a96e;
  font-weight: 700;
  font-size: 15px;
}

.paymentBox {
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 245px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  width: 95%;
  margin: auto;
}

.searchBar {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.search {
  border: none;
  border-bottom: 1px solid black;
  padding-top: 10px;
  font-size: 12px;
}

input::placeholder {
  color: rgb(161, 161, 161);
  font: 17px/3 sans-serif;
}

.cover {
  border: 1px solid rgb(197, 193, 193);
  border-radius: 10px;
  min-height: 3rem;
  margin: 10px auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0 0.5rem;
}

.billBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2.5rem;
  margin: 5px;
  overflow-x: auto;
  width: 82%;
}

.boxDetails {
  width: 40%;
  height: 50%;
  text-align: center;
  font-weight: 600;
  color: rgb(59, 57, 57);
  display: flex;
  white-space: nowrap;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
}

.data {
  color: gray;
  margin-left: 5%;
}

.health {
  color: #49a96e;
  font-size: 30px;
  font-weight: 600;
  margin: 150px 300px;
}

.cover button {
  border: none;
  color: white;
  background-color: #49a96e;
  margin-right: 8px;
  width: 20%;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.File {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  /* width: 100%; */
  padding: 0.2rem 0.5rem;
}
.ButtonGreen {
  color: #fff;
  background-color: #49a96e;
}
.ButtonGreen:hover {
  background-color: #4747473a;
  color: #49a96e;
  cursor: pointer;
}
@media (max-width: 680px) {
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .billBox {
    width: 95%;
    display: flex;
    align-items: center;
  }

  .cover button {
    width: 50%;
    margin-bottom: 5px;
  }
}
