/* links style */
.links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.links a {
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
.links span {
  font-weight: 700;
  color: #474747;
}
a.active {
  border-radius: 2rem;
  font-weight: 700;
  transition: 300ms all ease-in-out;
}
a.active span,
a.active {
  color: #49a96e;
}

a:not(.active):hover {
  background-color: #f3f3f3;
  border-radius: 2rem;
}
.titleDisplayNone {
  display: none;
}
.titleDisplay {
  display: none;
}
@media (max-width: 1280px) {
  .links span {
    display: none;
  }
  .links a {
    gap: 0;
  }
}
