/* Profile Conatiner */
::-webkit-scrollbar-track {
  background: #49a96e50;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #34805150;
  border-radius: 1rem;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #34805150;
}
::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}
html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  background-image: url('Images/SVG/61802.jpg');
}

html::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Images/SVG/flat-lay-health-still-life-arrangement-with-copy-space.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

html::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #49a96e;
  opacity: 0.5;
  z-index: -1;
}
@media (max-width: 1150px) {
  html {
    font-size: 14px;
  }
}
/* @media (max-width: 950px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 5px;
  }
} */
